* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #E56399;
}
.heading1 {
text-align: center;
text-shadow: 5px  5px #7FD1B9;
font-size: 32px;
color: #ECE2D0;
}
.image img {
    top: 100px;
    max-height:400px;
    width: 400px;
    position: absolute;
    left: 32%;
    border-radius: 50%;
}
.text-container {
text-align: center;
top: 60%;
margin: 150px 150px 150px 150px;

position: absolute;
background-color: #D3A588;

}
.heading2 {
    font-size: 30px;

}
.text {
    font-size: 20px;
    font-style: italic;
    text-indent: 1px;
}

